.infoCardContainer {
    max-width: 1140px;
    margin: 40px auto;
    padding: 40px;
    background-color: #f1f1f1;
}

.shareSocialIcon circle {
    fill: #444;
}

.searchBarContainer {
    width: 50%;
}

.searchBarContainer input {
    height: 50px;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    color: #000;
    padding: 0 30px;
}

.searchBarContainer input+span {
    padding: 0 20px;
}

.sellingPrice {
    font-weight: bold;
}

.container {
    max-width: 1140px;
}

.newsletter {
    background-color: #f1f1f1;
}

.newsletter input {
    height: 50px;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    color: #000;
    padding: 0 30px;
    font-size: 16px;
}

.logoContainer {
    height: 70px;
    max-height: 100px;
    display: flex;
    position: relative;
    overflow: hidden;
    padding: 15px 40px;
}

.newsletter button {
    height: 50px;
    padding: 20px;
}

.logoContainer img {
    height: auto!important;
    position: absolute;
    width: auto;
    max-width: 100%;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    max-height: 80%;
}

@media screen and (max-width: 40rem) {
    .logoContainer img {
        max-width: 100%;
    }

    .searchBarContainer {
        width: 100%;
        padding: 0 0 10px;
    }
}