.infoCardContainer {
    max-width: 1140px;
    margin: 40px auto;
    padding: 40px;
    background-color: #f1f1f1;
}

.shareSocialIcon circle {
    fill: #444;
}

.searchBarContainer {
    width: 50%;
}

.searchBarContainer input {
    color: #000;
}

.searchBarContainer :global(.vtex-input-prefix__group) {
    height: 48px;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    color: #000;
    background: #fff;
}

.searchBarContainer input+span {
    padding: 0 20px;
}

.subscriberContainer :global(.vtex-store-components-3-x-input), .subscriberContainer :global(.vtex-store-components-3-x-submit) {
    display: none;
}

.sellingPrice {
    font-weight: bold;
}

.container {
    max-width: 1140px;
}

.newsletter {
    background-color: #f1f1f1;
}

.newsletter input {
    padding: 0 30px;
    color: #000;
}

.newsletter :global(.vtex-input-prefix__group) {
    height: 50px;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    color: #000;
}

.newsletter button {
    height: 50px;
    padding: 20px;
}

@media screen and (max-width: 40rem) {
    .searchBarContainer {
        width: 100%;
        padding: 0 0 10px;
    }
}
